@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Roboto+Condensed:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* 
  font-family: "Roboto Condensed", sans-serif; */
}

html {
  font-size: 10px;
  font-family: "Oswald", sans-serif;
}

/* NAVIGATION */

nav {
  margin: 10px 0px;
  text-align: right;
}

nav a {
  display: inline-block;
  color: #555;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px;
  margin: 0 10px;
  font-family: "Roboto Condensed", sans-serif;
}

nav a.contact {
  margin-right: 50px;
  margin-left: 150px;
  border: solid 2px #555;
  letter-spacing: 1px;
  padding: 10px 20px;
  transition: all 1.2s;
}

nav a:hover {
  border-bottom: solid 2px #555;
  color: black;
}
nav a.contact:hover {
  background-color: #555;
  color: white;
  border: solid 2px white;
}

/* HEADER */
header {
  height: 50vh;
  /* 40%okna przegladarki */
  background-image: url("car.png");
  background-size: cover;
}

header h1 {
  font-size: 6rem;
  color: white;
  text-align: center;
  line-height: 50vh;
  background-color: rgba(0, 0, 0, 0.7);
}
/* MAIN */


/* MEDIA QUERIES */
@media only screen and (max-width: 690px) {
  nav a {
    display: inline-block;
    color: #555;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    margin: 0 10px;
    font-family: "Roboto Condensed", sans-serif;
  }

@media only screen and (max-width: 665px) {
  nav a {
    display: inline-block;
    color: #555;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    margin: 0 10px;
    font-family: "Roboto Condensed", sans-serif;
  }
  nav a.contact {
    margin-right: 50px;
    margin-left: 150px;
    border: solid 2px #555;
    letter-spacing: 1px;
    padding: 10px 20px;
    transition: all 1.2s;
  }
}
@media only screen and (max-width: 615px) {
  nav a {
    display: inline-block;
    color: #555;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    margin: 0 10px;
    font-family: "Roboto Condensed", sans-serif;
  }

  nav a.contact {
    margin-right: 50px;
    margin-left: 150px;
    border: solid 2px #555;
    letter-spacing: 1px;
    padding: 10px 20px;
    transition: all 1.2s;
  }
}
@media only screen and (max-width: 590px) {
  nav a {
    display: inline-block;
    color: #555;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    font-family: "Roboto Condensed", sans-serif;
  }

  nav a.contact {
    margin-right: 50px;
    margin-left: 150px;
    border: solid 2px #555;
    letter-spacing: 1px;
    padding: 10px 20px;
    transition: all 1.2s;
  }
}
