@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Roboto+Condensed:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* 
  font-family: "Roboto Condensed", sans-serif; */
}

html {
  font-size: 10px;
  font-family: "Oswald", sans-serif;
}

/* NAVIGATION */

nav {
  margin: 10px 0px;
  text-align: right;
}

nav a {
  display: inline-block;
  color: #555;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px;
  margin: 0 10px;
  font-family: "Roboto Condensed", sans-serif;
}

nav a.contact {
  margin-right: 50px;
  margin-left: 150px;
  border: solid 2px #555;
  letter-spacing: 1px;
  padding: 10px 20px;
  transition: all 1.2s;
}

nav a:hover {
  border-bottom: solid 2px #555;
  color: black;
}
nav a.contact:hover {
  background-color: #555;
  color: white;
  border: solid 2px white;
}

/* HEADER */
header {
  height: 50vh;
  /* 40%okna przegladarki */
  background-image: url("car.png");
  background-size: cover;
}

header h1 {
  font-size: 6rem;
  color: white;
  text-align: center;
  line-height: 50vh;
  background-color: rgba(0, 0, 0, 0.7);
}
/* MAIN */
main{
  max-width: 1440px;
  margin:5vh auto;
  font-size: 0;
}
main p.description{
  font-size: 2.2rem;
  text-align: center;
  margin:0 30px 50px 30px;
  line-height: 180%;
}
main div.photo{
display: inline-block;
height: 200px;
width: 33.33%;
/* margin:10px 5px; */

text-align: center;

}
main h2{
  text-align: center;
  font-size: 2rem;
}
main img{
  width: 200px;
  height: 200px;
  transition: all 0.8s ease-in-out;
}
main img:hover{
  transform:scale(1.1);
}
/* FOOTER */
footer{
min-height: 55px;
background-color: #555;
}
footer p{
color:white;
text-align: center;
line-height: 55px;
font-size: 1.5rem;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 690px) {
  nav a {
    display: inline-block;
    color: #555;
    font-size: 1.3rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    margin: 0 10px;
    font-family: "Roboto Condensed", sans-serif;
  }

@media only screen and (max-width: 665px) {
  nav a {
    display: inline-block;
    color: #555;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    margin: 0 10px;
    font-family: "Roboto Condensed", sans-serif;
  }
  nav a.contact {
    margin-right: 50px;
    margin-left: 150px;
    border: solid 2px #555;
    letter-spacing: 1px;
    padding: 10px 20px;
    transition: all 1.2s;
  }
}
@media only screen and (max-width: 615px) {
  nav a {
    display: inline-block;
    color: #555;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    margin: 0 10px;
    font-family: "Roboto Condensed", sans-serif;
  }

  nav a.contact {
    margin-right: 50px;
    margin-left: 150px;
    border: solid 2px #555;
    letter-spacing: 1px;
    padding: 10px 20px;
    transition: all 1.2s;
  }
}
@media only screen and (max-width: 590px) {
  nav a {
    display: inline-block;
    color: #555;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    font-family: "Roboto Condensed", sans-serif;
  }

  nav a.contact {
    margin-right: 50px;
    margin-left: 150px;
    border: solid 2px #555;
    letter-spacing: 1px;
    padding: 10px 20px;
    transition: all 1.2s;
  }
}
